*{
  color: blue;
}
header {
  background-color: grey;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
h3 {
  margin-bottom: 5px;
}
p{
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 16px;
}
span {
  font-weight: normal;
  font-size: 16px;
}
