<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>Test test test</p>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>

    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
    <div class="list">
  <label class="item item-input">
    <input ng-model="firstName" type="text" placeholder="First Name">
  </label>
  <p>{{firstName}}</p>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</div>

<button class="button button-full button-calm">
  Submit
</button>

<button class="button button-large button-positive">
  Large Button
</button>
  </ion-content>
</ion-view>
