#container {
  background-color: #4C7FBE
  position: absolute;
}

div  {
  background-color: blue;
  font-family: serif;
  vertical-align: bottom;
  text-align: right;
  font-size: 10px;
}
header {
  background-color: red;
}
section {

}
article {
  background-color: yellow;
}
aside {
  background-color: white;
}
footer {
  background-color: orange;
}
nav {
  background-color: teal;
}
