<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <style media="screen">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
  </head>
  <body ng-cloak='true'>
    <p>{{1 + 6}}<p>
    <br>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <input ng-model="name" type="text" ng-init="name= 'BoJack'">
    <h1>My Name is: {{name}}</h1>

    <label for="singleSelect"> Single select: </label><br>
    <select name="singleSelect" ng-model="data.singleSelect">
      <option value="I love Dogs">Dogs</option>
      <option value="Cats">Cats</option>
      <option value="Dogs and Cats">Dogs and Cats</option>
    </select><br>

    <h3 ng-cloak="true">{{data.singleSelect}}</h3>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </body>
</html>
