<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>1 + 6 = {{1 + 6}}<p>
    <p>My name is {{"Thacher" + " yay"}}</p>
    <p>the array [99,34,54,2] is {{ [99,34,54,2].length }} items long. </p>
    <p>{{3.14159265359 | currency:"€"}}</p>

    <p>Please say something<input ng-model="statement" type="text" ng-init="statement"></p>
    <p>Yelling: {{ statement | uppercase }}</p>
    <p>Whispering: {{ statement | lowercase }}</p>

    <p>Select Number of Digits</p>
    <select ng-model="round">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select><br>
    <p>Here you go!
      <ng-pluralize count="round"
        when="{'0': 'No Digits!',
          '1':'1 digit!',
          'other':'{} digits!'}">
      </ng-pluralize>
    </p>

    <p>{{3.14159265359 | number: round}}</p>

    <p>How much did your meal cost? <input ng-model="billAmount" type="text" ng-init="billAmount"></p>


    <p>How much would you like to tip?
      <select ng-model="tip">
        <option value="0.1">10%</option>
        <option value="0.15">15%</option>
        <option value="0.2">20%</option>
      </select>
    </p>
    <br>


    <p>Subtotal {{billAmount | currency}}</p>
    <p>Tip {{ billAmount*tip | currency }}</p>

    <div>{{this}}</div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </body>
</html>
