<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
      * { margin:10px; }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      span {text-decoration: underline;}
    </style>
  </head>

  <body ng-cloak='true'>
    <h1 style="text-align:center">Please fill out the following!</h1>
    <hr>
    <form>
      <fieldset class="form-group">
        <label>Boy's Name</label>
        <input type="text" class="form-control" ng-model="boysName" placeholder="Enter a boy's name...">
      </fieldset>
      <fieldset class="form-group">
        <label>Adjective</label>
        <input type="text" class="form-control" ng-model="adjective" placeholder="Enter an adjective...">
      </fieldset>
      <fieldset class="form-group">
        <label>Plural Noun</label>
        <input type="text" class="form-control" ng-model="pluralNoun" placeholder="Enter an plural noun...">
      </fieldset>
      <fieldset class="form-group">
        <label>Plural Noun</label>
        <input type="text" class="form-control" ng-model="pluralNoun1" placeholder="Enter an plural noun...">
      </fieldset>
      <fieldset class="form-group">
        <label>An insect (plural)</label>
        <input type="text" class="form-control" ng-model="insectPlural" placeholder="Enter an plural noun...">
      </fieldset>
      <fieldset class="form-group">
        <label>Plural Noun</label>
        <input type="text" class="form-control" ng-model="pluralNoun2" placeholder="Enter an plural noun...">
      </fieldset>
      <fieldset class="form-group">
        <label>Verb ending in "s"</label>
        <input type="text" class="form-control" ng-model="verbEndingInS" placeholder="Enter a verb ending in 's'...">
      </fieldset>
    </form>
    <h2>Mad with the Libs<h2>
    <hr>
    <h3>I'm in love with<span>{{ boysName || 'BOYS NAME' | uppercase }}</span>. He's so<span>{{ adjective || 'ADJECTIVE' | uppercase }}</span>! He has big flat<span>{{ pluralNoun || 'PLURAL NOUN' | uppercase }}</span>, and when our<span>{{ pluralNoun1 || 'PLURAL NOUN' | uppercase }}</span>meet, I get<span>{{ insectPlural || 'INSECT PLURAL' | uppercase }}</span> in my stomach. I've fallen for him like a ton of<span>{{ pluralNoun2 || 'PLURAL NOUN' | uppercase }}</span>, and he<span>{{ verbEndingInS || 'VERB ENDING IN "S"' | uppercase }}</span>for me, too. But I think he's got another girlfriend. What should I do?</h3>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </body>
</html>
