<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
      * { margin:10px; }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      span {text-decoration: underline;}
      .highlight {
        background-color: yellow;
      }
      .red {
        color:red;
      }
      .green {
        color:green;
      }
    </style>
  </head>
  <body>
    <ul ng-cloak='true' ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
</body>
      <li ng-repeat='name in names'>
        {{name}}
       </li>
    </ul>

    <ul ng-cloak='true' ng-init="symbols=['&spades;', '&clubs;', '&hearts;', '&diams;']">
      <li ng-repeat='symbol in symbols'>
        {{symbol}}
      </li>
    </ul>

    <ul ng-init="numbers=[1,1,2,5,6,9,9,9]">
      <li ng-repeat="n in numbers track by $index">
        {{n}}
      </li>
    </ul>

    <div ng-show='3 + 4 == 5'>
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show='3 + 4 == 7'>
      3 + 4 is 7, do show
    </div>

    <div ng-hide='3 + 4 == 5'>
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide='3 + 4 == 7'>
      3 + 4 is 7, do hide
    </div>

    <h1 style="text-align:center">Sign Up Page</h1>
    <hr>
    <form>
      <fieldset class="form-group">
        <label></label>
        <!-- <input type="hidden" name="password"/> -->
        <input type="password" class="form-control" ng-model="password" />
        <p ng-class="{green: password.length >= 5, red: password.length < 5}">Your Password is {{ password.length }} characters</p>
      </fieldset>
      <p ng-hide='password.length >= 5' type="text">Password Invalid!</p>
      <button ng-show='password.length >= 5' type="submit" class="btn btn-default">Submit</button>
    </form>

    <div ng-class='{highlight: 4 + 4 == 8}'> 4 + 4 = 8</div>
    <div ng-class='{highlight: 4 + 4 == 10}'>4 + 4 = 10</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  </body>
</html>
