<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <style>
      * { margin:20px; }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      img {
        max-height: 50px;
      }
      .highlight {
        color: orange;
      }
    </style>
  </head>
  <body>
    <h1>Camera Shop</h1>
      <select ng-init="order = 'rating'" ng-model="order" class="form-group">
        <option value="rating" selected>Rating</option>
        <option value="price">Price</option>
      </select>
      <ul ng-cloak='true'>
        <div ng-repeat="camera in stock | orderBy: order">
          <img ng-src="{{camera.image}}" alt="Description" />
          <div> {{ camera.title }} </div>
          <div> Rating: {{ camera.rating }} </div>
          <div ng-hide="camera.onSale == true"> Price: {{ camera.price | currency }} </div>
          <div ng-show="camera.onSale == true" class="highlight"> Price: {{ camera.price | currency }} ON SALE!</div>
        </div>
      </ul>

    <script ng-init="stock=
    [
      {
        title: 'Nikon D3100 DSLR',
        image: 'http://ecx.images-amazon.com/images/I/713u2gDQqML._SX522_.jpg',
        rating: 3.4,
        price: 369.99,
        onSale: true
      },
      {
        title: 'Canon EOS 70D',
        image: 'http://ecx.images-amazon.com/images/I/81U00AkAUWL._SX522_.jpg',
        rating: 2.0,
        price: 1099.0,
        onSale: false
      },
      {
        title: 'Nikon D810A',
        image:'http://ecx.images-amazon.com/images/I/91wtXIfLl2L._SX522_.jpg',
        rating: 4.2,
        price: 3796.95,
        onSale: true
      }
    ]
  "></script>
  </body>
</html>
