<!DOCTYPE html>
<html ng-app="madlibsApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

  <body>
    <h1 style="text-align:center">Please fill out the following!</h1>
    <hr>
    <div ng-controller="MadlibsController">

      <form>
        <fieldset class="form-group">
          <label>Boy's Name</label>
          <input ng-controller="MadlibsController" type="text" class="form-control" ng-model="boysName" placeholder="Enter a boy's name...">
        </fieldset>
      </form>
      <h2>Mad with the Libs<h2>
      <hr>
      <h3>I'm in love with <span>{{ boysName || 'BOYS NAME' | uppercase }}</span>.</h3>
    </div>
    <script src="main.js"></script>
  </body>
</html>
