<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">
    <ion-pane ng-controller="NFController">
        <ion-content padding="true">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Message: </span>
                    <input type="text" ng-model="newMessage">
                </label>
            </div>
            <div>
                <button class="button button-block" ng-click="save(newMessage)">
                    Save
                </button>
                <button class="button button-block" ng-click="load()">
                    Load
                </button>
                <p>{{ statusMessage }}</p>
            </div>
        </ion-content>

    </ion-pane>
</body>

</html>
